<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css" integrity="sha256-1dcYWPAIBzLgOJlRNpMFWi1aIEWZU490to6kkbDmFM8=" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
        <div class="header item">
           <i class="expand icon"></i>
            Blog Site
        </div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
        </div>
    </div>