body{
    margin-top: 7em;
}

/*NAVBAR*/
i.icon{
    font-size: 2em;
}

/*INDEX PAGE*/
/*icon*/
.chevron.right{
    font-size: 1.2em;
}

.ui.items > .item .meta{
    margin: 0;
}
/*SHOW PAGE*/

/*buttons*/
#button-form{
    display: inline;
}
#back{
    float: right;
}

/*content*/
.description p:last-of-type{
    margin-bottom: 2em;
}
